<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Danh Sách </title>
        <!-- Favicon icon -->
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
        <!-- Datatable -->
        <link href="/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
        <!-- Custom Stylesheet -->
        <link href="/css/style.css" rel="stylesheet">
    
    </head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
        <!--**********************************
            Header start
        ***********************************-->
        <%- include('layout/header'); %>
        <!--**********************************
            Header end
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <%- include('layout/sidebar'); %>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>Danh sách</h4>
                            <span class="ml-1">Danh sách</span>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Người dùng</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">Danh sách</a></li>
                        </ol>
                    </div>
                </div>
                <!-- row -->


                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Danh sách</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example" class="display" style="min-width: 845px">
                                        <thead>
                                            <tr>
                                                <th>Kiểm tra</th>
                                                <th>Tên</th>
                                                <th>Ảnh</th>
                                                <th>Tình trạng</th>
                                                <th>Kết luận AI</th>
                                                <th>Kết luận bác sỹ</th>
                                                <th>Sửa/Xóa</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(let key in datas) { %>
                                            <tr>
                                                <td><input type="checkbox" class="check" value="<%= datas[key].nameimage %>"></td>
                                                <td><%= datas[key].name %></td>
                                                <!-- <td><%= datas[key].status == "1" ? "Bệnh viêm phổi" : "Không bị bệnh" %></td> -->
                                                <td><img style="max-width: 20em;max-height: 20em;" src="/assets/uploads/<%= datas[key].nameimage %>"></td>
                                                <td><% if(datas[key].status == 0) {%>
                                                    <span class="badge badge-danger"><%= datas[key].status %></span>
                                                    <%} else {%>
                                                    <span class="badge badge-success"><%= datas[key].status %></span>
                                                    <%}%>
                                                </td>
                                                <td><%= !datas[key].infer_ai ? "Chưa kiểm tra" : (datas[key].infer_ai == "1" ? "Bị viên phổi" : "Không bị bệnh") %></td>
                                                <td><%= !datas[key].infer_doctor ? "Chưa kiểm tra" : (datas[key].infer_doctor == "1" ? "Bị viên phổi" : "Không bị bệnh") %></td>
                                                <td>
                                                    <button class="edit" style="border: none; background: none;" value="<%= datas[key].id %>" data-toggle="modal" data-target=".bd-example-modal-lg"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                                    </svg></button>

                                                    <button class="delete" style="border: none; background: none;" value="<%= datas[key].id %>"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                  </svg></button>
                                                </td>
                                            </tr>
                                            <% } %>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Kiểm tra</th>
                                                <th>Tên</th>
                                                <th>Ảnh</th>
                                                <th>Tình trạng</th>
                                                <th>Kết luận AI</th>
                                                <th>Kết luận bác sỹ</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    <button type="button" class="btn btn-primary btn-lg btn-block" id="check" data-toggle="modal" data-target="#basicModal">Kiểm tra</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="basicModal">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <div class="spinner-border text-primary" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                      </div>
                                                      <div class="spinner-border text-secondary" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                      </div>
                                                      <div class="spinner-border text-success" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                      </div>
                                                      <div class="spinner-border text-danger" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                      </div>
                                                      <div class="spinner-border text-warning" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                      </div>
                                                      <div class="spinner-border text-info" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                      </div>
                                                      <div class="spinner-border text-light" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                      </div>
                                                      <div class="spinner-border text-dark" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                      </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-xl" role="document">
                                            <form class="form-valide" action="/doctor/edit" method="POST" enctype="multipart/form-data">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa thông tin bệnh nhân</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                              </div>
                                              <div class="modal-body">
                                                    <div class="row justify-content-center">
                                                        <div class="col-xl-8">
                                                            <input name="id" id="val-id" hidden>
                                                            <div class="form-group row">
                                                                <label class="col-lg-4 col-form-label" for="username">Tên người bệnh
                                                                    <span class="text-danger">*</span>
                                                                </label>
                                                                <div class="col-lg-6">
                                                                    <input type="text" class="form-control" id="val-username" name="username" placeholder="">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-lg-4 col-form-label" for="file">Ảnh <span
                                                                    class="text-danger">*</span>
                                                            </label>
                                                                <div class="col-lg-8">
                                                                    <input type="file" class="form-control-file" id="input-files" name="file">
                                                                  </div>
                                                            </div>
                                                            <div class="form-group row justify-content-end">
                                                                <div class="col-lg-8">
                                                                    <div class="preview-images">
                                                                        <img style="max-width: 20em;max-height: 20em;" src="">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-lg-4 col-form-label" for="val-infer-doctor">Kết luận bác sỹ
                                                                    <span class="text-danger">*</span>
                                                                </label>
                                                                <div class="col-lg-6">
                                                                    <input type="text" class="form-control" id="val-infer-doctor" name="infer_doctor" placeholder="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                                    <button type="submit" class="btn btn-primary" id="modalEdit">Sửa</button>
                                                </div>
                                            </form>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

        <!--**********************************
            Footer start
        ***********************************-->
        <%- include('layout/footer'); %>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/vendor/global/global.min.js"></script>
    <script src="/js/quixnav-init.js"></script>
    <script src="/js/custom.min.js"></script>
    


    <!-- Datatable -->
    <script src="/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/js/plugins-init/datatables.init.js"></script>
    <script>
        $(document).ready(function(){
            let imagesPreview = function(input, placeToInsertImagePreview) {
            if (input.files) {
                $(".preview-images")[0].innerHTML = "";
                let filesAmount = input.files.length;
                for (i = 0; i < filesAmount; i++) {
                let reader = new FileReader();
                reader.onload = function(event) {
                    $($.parseHTML("<img style='max-width: 20em;max-height: 20em;' >"))
                    .attr("src", event.target.result)
                    .appendTo(placeToInsertImagePreview);
                };
                reader.readAsDataURL(input.files[i]);
                }
            }
            };
            $("#input-files").on("change", function() {
            imagesPreview(this, "div.preview-images");
            });
            $(".edit").click(function(){
                // $(this).hide();
                // if (confirm("Sửa thông tin bệnh nhân"))
                //     window.location.href = window.location.origin + "/doctor/edit/" + this.value;
                    // alert(this.value)
                data = this.closest('tr').children;
                // console.log(data[1].innerText)
                // console.log($("#val-username"))
                $("#val-id")[0].value = this.value;
                $("#val-username")[0].value = data[1].innerText;
                $(".preview-images img")[0].src = data[2].children[0].src;
                // console.log(this.closest('tr').children[2].children);
                console.log($(".preview-images")[0].innerHTML);
                // console.log(this.closest('td'));
            });

            // $("#modalEdit").click(function(){
            //     window.location.href = window.location.origin + "/doctor/delete/" + this.value;
            // });


            $(".delete").click(function(){
                // $(this).hide();
                if (confirm("Bạn có muốn xóa bệnh nhân"))
                    window.location.href = window.location.origin + "/doctor/delete/" + this.value;
                    // alert(this.value)
            });

            $("#check").click(function(){
                console.log($(".check").is(":checked"));
                var array = $.map($('.check:checked'), function(c){return c.value; })
                window.location.href = window.location.origin + "/doctor/check/" + array;
                console.log(array)
            })
        });
    </script>

</body>

</html>